.header {
  --dch-control-size-xs: rem(30px);
  --dch-control-size-sm: rem(36px);
  --dch-control-size-md: rem(42px);
  --dch-control-size-lg: rem(48px);
  --dch-control-size-xl: rem(54px);
  --dch-control-size: var(--dch-control-size-sm);

  --dch-control-radius: var(--radius-default);

	display: flex;
	margin-bottom: var(--spacing-xs);
}

.level,
.control {
	height: var(--dch-control-size);
	border-radius: var(--dch-control-radius);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	opacity: 1;
	cursor: pointer;

	&:where([data-static]) {
		cursor: default;
	}

	&:hover {
		&:where(:not([data-static], :disabled)) {
			@mixin light {
				background-color: var(--color-gray-0);
			}

			@mixin dark {
				background-color: var(--color-dark-5);
			}
		}
	}

	&:where(:disabled) {
		opacity: 0.2;
		cursor: not-allowed;
	}
}

.level {
  flex: 1;
  font-size: var(--dch-fz, var(--font-size-sm));
  font-weight: 500;
  text-transform: capitalize;
}

.control {
	width: var(--dch-control-size);
}

.icon {
	width: 60%;
	height: 60%;
}
