.root {
	--dialog-size-xs: rem(320px);
	--dialog-size-sm: rem(380px);
	--dialog-size-md: rem(440px);
	--dialog-size-lg: rem(620px);
	--dialog-size-xl: rem(780px);
	--dialog-size: var(--dialog-size-md);

	--dialog-y-offset: 0;
	--dialog-x-offset: 0;

	--dialog-shadow: var(--shadow-md);
	--dialog-radius: var(--radius-default);

	--overlay-bg: rgba(0, 0, 0, .4);
	--overlay-filter: blur(.1rem);

	width: var(--dialog-size);
	padding: 0;
	border: none;
	display: grid;

	transition: opacity 300ms ease,
	overlay 300ms ease allow-discrete,
	display 300ms ease allow-discrete;
	opacity: 0;

	overflow: hidden;

	background: none;
	box-shadow: var(--dialog-shadow);
	max-width: 100%;
	max-height: 100%;
	min-height: 0;

	top: var(--dialog-y-offset);
	left: var(--dialog-x-offset);


	&::backdrop {
		background: var(--overlay-bg, rgba(0, 0, 0, 0.6));
		-webkit-backdrop-filter: var(--overlay-filter);
		backdrop-filter: var(--overlay-filter);
		opacity: 0;
		transition: opacity 300ms ease,
		overlay 300ms ease allow-discrete,
		display 300ms ease allow-discrete;
	}

	&[open] {
		opacity: 1;

		@starting-style {
			opacity: 0;
		}

		&::backdrop {
			opacity: 1;

			@starting-style {
				opacity: 0;
			}
		}
	}

	&:not([open]) {
		opacity: 0;
		pointer-events: none;

		&::backdrop {
			opacity: 0;
		}
	}

	&[data-without-overlay] {
		&::backdrop {
			display: none;
		}
	}
}

.content {
	width: 100%;
	height: 100%;
	min-height: 0;
	padding: var(--spacing-sm);
	border-radius: var(--dialog-radius);

	color: var(--color-text);

	background-color: var(--color-body);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.title {
	font-weight: 400;
}
