.dropdown {
	--menu-dropdown-padding: 7px 8px;
	--popover-padding: 5px;
}

.label {
	color: var(--color-dimmed);
	font-weight: var(--font-weight-medium);
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .5px;
	padding: var(--menu-dropdown-padding);
	cursor: default;
}

.divider {
	margin-top: 4px;
	margin-bottom: 4px;
	border-top: 1px solid;

	@mixin where-light {
		border-color: var(--color-gray-2);
	}

	@mixin where-dark {
		border-color: var(--color-dark-4);
	}
}

.item {
	font-size: var(--font-size-sm);
	width: 100%;
	padding: var(--menu-dropdown-padding);
	border-radius: var(--popover-radius, var(--radius-default));
	color: var(--menu-item-color, var(--color-text));
	display: flex;
	align-items: center;
	user-select: none;

	&:where([data-disabled], :disabled) {
		color: var(--color-disabled-color);
		opacity: 0.6;
		cursor: not-allowed;
	}

	&:where(:hover, :focus) {
		&:where(:not(:disabled, [data-disabled])) {
			@mixin where-light {
				background-color: var(--menu-item-hover, var(--color-gray-1));
			}

			@mixin where-dark {
				background-color: var(--menu-item-hover, var(--color-dark-4));
			}
		}
	}

	&:where([data-menu-active]) {
		color: var(--color-primary-filled);
	}

	&:where([data-sub-menu-item]) {
		padding-inline-end: 5px;
	}
}

.search {
	--menu-search-padding: var(--popover-padding, 4px);

	margin-inline: calc(var(--menu-search-padding) * -1);
	margin-top: calc(var(--menu-search-padding) * -1);
	width: calc(100% + var(--menu-search-padding) * 2);
	border-top-width: 0;
	border-inline-width: 0;
	border-end-start-radius: 0;
	border-end-end-radius: 0;
	margin-bottom: var(--menu-search-padding);

	&,
	&:focus {
		@mixin where-light {
			border-color: var(--color-gray-2);
		}

		@mixin where-dark {
			border-color: var(--color-dark-4);
		}
	}

	@mixin where-light {
		background-color: var(--color-white);
	}

	@mixin where-dark {
		background-color: var(--color-dark-7);
	}
}

.itemLabel {
	flex: 1;
}

.itemDescription {
	color: var(--color-dimmed);
	font-size: 10px;
	font-weight: 400;
}

.itemSection {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--font-size-lg);

	&:where([data-position='left']) {
		margin-inline-end: var(--spacing-xs);
	}

	&:where([data-static]) {
		width: var(--spacing-md);
		height: var(--spacing-md);
	}

	&:where([data-position='right']) {
		margin-inline-start: var(--spacing-xs);
	}
}

.chevron {
	transform: rotate(-90deg);

	@mixin where-rtl {
		transform: rotate(90deg);
	}
}