/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	margin: 0;
	font-family: var(--font-family), sans-serif;
	font-size: var(--font-size-md);
	line-height: var(--line-height);
	background-color: var(--color-body);
	color: var(--color-text);

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media screen and (max-device-width: em(500px)) {
		-webkit-text-size-adjust: 100%;
	}

	&:has(dialog[data-modal][open]) {
		overflow: hidden;
	}
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

button {
	border: 0;
}

button,
select {
	text-transform: none;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}
