:root {
	@mixin light-root {
		--primary-color-contrast: var(--color-white);
		--color-bright: var(--color-black);

		--color-text: #000;
		--color-body: #fff;

		--color-error: var(--color-red-6);
		--color-placeholder: var(--color-gray-5);
		--color-anchor: var(--color-blue-6);

		--color-default: var(--color-white);
		--color-default-hover: var(--color-gray-0);
		--color-default-color: var(--color-black);
		--color-default-border: var(--color-gray-4);

		--color-dimmed: var(--color-gray-6);

		--color-disabled: var(--color-gray-2);
		--color-disabled-text: var(--color-gray-5);
		--color-disabled-border: var(--color-gray-3);

		--color-dark-color: var(--color-dark-filled);
		--color-dark-filled: var(--color-dark-6);
		--color-dark-filled-hover: var(--color-dark-7);
		--color-dark-light: rgba(46, 46, 46, 0.1);
		--color-dark-light-hover: rgba(46, 46, 46, 0.12);
		--color-dark-light-color: var(--color-dark-6);
		--color-dark-outline: var(--color-dark-6);
		--color-dark-outline-hover: rgba(46, 46, 46, 0.05);

		--color-gray-color: var(--color-gray-filled);
		--color-gray-filled: var(--color-gray-6);
		--color-gray-filled-hover: var(--color-gray-7);
		--color-gray-light: rgba(134, 142, 150, 0.1);
		--color-gray-light-hover: rgba(134, 142, 150, 0.12);
		--color-gray-light-color: var(--color-gray-6);
		--color-gray-outline: var(--color-gray-6);
		--color-gray-outline-hover: rgba(134, 142, 150, 0.05);

		--color-red-color: var(--color-red-filled);
		--color-red-filled: var(--color-red-6);
		--color-red-filled-hover: var(--color-red-7);
		--color-red-light: rgba(250, 82, 82, 0.1);
		--color-red-light-hover: rgba(250, 82, 82, 0.12);
		--color-red-light-color: var(--color-red-6);
		--color-red-outline: var(--color-red-6);
		--color-red-outline-hover: rgba(250, 82, 82, 0.05);

		--color-pink-color: var(--color-pink-filled);
		--color-pink-filled: var(--color-pink-6);
		--color-pink-filled-hover: var(--color-pink-7);
		--color-pink-light: rgba(230, 73, 128, 0.1);
		--color-pink-light-hover: rgba(230, 73, 128, 0.12);
		--color-pink-light-color: var(--color-pink-6);
		--color-pink-outline: var(--color-pink-6);
		--color-pink-outline-hover: rgba(230, 73, 128, 0.05);

		--color-grape-color: var(--color-grape-filled);
		--color-grape-filled: var(--color-grape-6);
		--color-grape-filled-hover: var(--color-grape-7);
		--color-grape-light: rgba(190, 75, 219, 0.1);
		--color-grape-light-hover: rgba(190, 75, 219, 0.12);
		--color-grape-light-color: var(--color-grape-6);
		--color-grape-outline: var(--color-grape-6);
		--color-grape-outline-hover: rgba(190, 75, 219, 0.05);

		--color-violet-color: var(--color-violet-filled);
		--color-violet-filled: var(--color-violet-6);
		--color-violet-filled-hover: var(--color-violet-7);
		--color-violet-light: rgba(121, 80, 242, 0.1);
		--color-violet-light-hover: rgba(121, 80, 242, 0.12);
		--color-violet-light-color: var(--color-violet-6);
		--color-violet-outline: var(--color-violet-6);
		--color-violet-outline-hover: rgba(121, 80, 242, 0.05);

		--color-indigo-color: var(--color-indigo-filled);
		--color-indigo-filled: var(--color-indigo-6);
		--color-indigo-filled-hover: var(--color-indigo-7);
		--color-indigo-light: rgba(76, 110, 245, 0.1);
		--color-indigo-light-hover: rgba(76, 110, 245, 0.12);
		--color-indigo-light-color: var(--color-indigo-6);
		--color-indigo-outline: var(--color-indigo-6);
		--color-indigo-outline-hover: rgba(76, 110, 245, 0.05);

		--color-blue-color: var(--color-blue-filled);
		--color-blue-filled: var(--color-blue-6);
		--color-blue-filled-hover: var(--color-blue-7);
		--color-blue-light: rgba(34, 139, 230, 0.1);
		--color-blue-light-hover: rgba(34, 139, 230, 0.12);
		--color-blue-light-color: var(--color-blue-6);
		--color-blue-outline: var(--color-blue-6);
		--color-blue-outline-hover: rgba(34, 139, 230, 0.05);

		--color-cyan-color: var(--color-cyan-filled);
		--color-cyan-filled: var(--color-cyan-6);
		--color-cyan-filled-hover: var(--color-cyan-7);
		--color-cyan-light: rgba(21, 170, 191, 0.1);
		--color-cyan-light-hover: rgba(21, 170, 191, 0.12);
		--color-cyan-light-color: var(--color-cyan-6);
		--color-cyan-outline: var(--color-cyan-6);
		--color-cyan-outline-hover: rgba(21, 170, 191, 0.05);

		--color-teal-color: var(--color-teal-filled);
		--color-teal-filled: var(--color-teal-6);
		--color-teal-filled-hover: var(--color-teal-7);
		--color-teal-light: rgba(18, 184, 134, 0.1);
		--color-teal-light-hover: rgba(18, 184, 134, 0.12);
		--color-teal-light-color: var(--color-teal-6);
		--color-teal-outline: var(--color-teal-6);
		--color-teal-outline-hover: rgba(18, 184, 134, 0.05);

		--color-green-color: var(--color-green-filled);
		--color-green-filled: var(--color-green-6);
		--color-green-filled-hover: var(--color-green-7);
		--color-green-light: rgba(64, 192, 87, 0.1);
		--color-green-light-hover: rgba(64, 192, 87, 0.12);
		--color-green-light-color: var(--color-green-6);
		--color-green-outline: var(--color-green-6);
		--color-green-outline-hover: rgba(64, 192, 87, 0.05);

		--color-lime-color: var(--color-lime-filled);
		--color-lime-filled: var(--color-lime-6);
		--color-lime-filled-hover: var(--color-lime-7);
		--color-lime-light: rgba(130, 201, 30, 0.1);
		--color-lime-light-hover: rgba(130, 201, 30, 0.12);
		--color-lime-light-color: var(--color-lime-6);
		--color-lime-outline: var(--color-lime-6);
		--color-lime-outline-hover: rgba(130, 201, 30, 0.05);

		--color-yellow-color: var(--color-yellow-filled);
		--color-yellow-filled: var(--color-yellow-6);
		--color-yellow-filled-hover: var(--color-yellow-7);
		--color-yellow-light: rgba(250, 176, 5, 0.1);
		--color-yellow-light-hover: rgba(250, 176, 5, 0.12);
		--color-yellow-light-color: var(--color-yellow-6);
		--color-yellow-outline: var(--color-yellow-6);
		--color-yellow-outline-hover: rgba(250, 176, 5, 0.05);

		--color-orange-color: var(--color-orange-filled);
		--color-orange-filled: var(--color-orange-6);
		--color-orange-filled-hover: var(--color-orange-7);
		--color-orange-light: rgba(253, 126, 20, 0.1);
		--color-orange-light-hover: rgba(253, 126, 20, 0.12);
		--color-orange-light-color: var(--color-orange-6);
		--color-orange-outline: var(--color-orange-6);
		--color-orange-outline-hover: rgba(253, 126, 20, 0.05);
	}
}
