
.root {
	--button-height-xs: rem(30px);
	--button-height-sm: rem(36px);
	--button-height-md: rem(42px);
	--button-height-lg: rem(50px);
	--button-height-xl: rem(60px);

	--button-height-compact-xs: rem(22px);
	--button-height-compact-sm: rem(26px);
	--button-height-compact-md: rem(30px);
	--button-height-compact-lg: rem(34px);
	--button-height-compact-xl: rem(40px);

	--button-padding-x-xs: rem(14px);
	--button-padding-x-sm: rem(18px);
	--button-padding-x-md: rem(22px);
	--button-padding-x-lg: rem(26px);
	--button-padding-x-xl: rem(32px);

	--button-padding-x-compact-xs: rem(7px);
	--button-padding-x-compact-sm: rem(8px);
	--button-padding-x-compact-md: rem(10px);
	--button-padding-x-compact-lg: rem(12px);
	--button-padding-x-compact-xl: rem(14px);

	--button-height: var(--button-height-sm);
	--button-padding-x: var(--button-padding-x-sm);
	--button-color: var(--color-white);
	--button-fz: var(--font-size-sm);
	--button-bg: var(--color-primary-filled);
	--button-radius: var(--radius-default);
	--button-hover: var(--color-primary-filled-hover);

	cursor: pointer;

	user-select: none;

	position: relative;

	overflow: hidden;
	display: inline-block;

	width: auto;
	height: var(--button-height, var(--button-height-sm));
	padding-inline: var(--button-padding-x, var(--button-padding-x-sm));

	font-size: var(--button-fz);
	font-weight: 600;
	line-height: 1;
	color: var(--button-color, var(--color-white));
	text-align: center;
	vertical-align: middle;

	background: var(--button-bg);
	border: var(--button-bd, rem(1px) solid transparent);
	border-radius: var(--button-radius);
	transition: background-color 200ms ease-in, color 200ms ease-in;

	&:where([data-with-left-section]) {
		padding-inline-start: calc(var(--button-padding-x) / 1.5);
	}

	&:where([data-with-right-section]) {
		padding-inline-end: calc(var(--button-padding-x) / 1.5);
	}

	&:where([data-variant='gradient-outline']) {
		background-origin: border-box;
		background-clip: padding-box, border-box;
	}

	&:where(:disabled:not([data-loading])) {
		cursor: not-allowed;

		transform: none;

		color: var(--color-disabled);

		background: var(--color-disabled);
		border: 1px solid transparent;
	}

	&::before {
		pointer-events: none;
		content: '';

		position: absolute;
		inset: -1px;
		transform: translateY(-100%);

		opacity: 0;
		filter: blur(12px);
		border-radius: var(--button-radius, var(--radius-default));

		transition: transform 150ms ease,
		opacity 100ms ease;

		@mixin where-light {
			color: var(--color-gray-5);

			background: var(--color-gray-1);
		}

		@mixin where-dark {
			color: var(--color-dark-3);

			background: var(--color-dark-6);
		}
	}

	&:where([data-loading]) {
		cursor: not-allowed;

		transform: none;

		&::before {
			transform: translateY(0);

			opacity: 1;
		}

		& .inner {
			transform: translateY(100%);

			opacity: 0;
		}
	}

	&:hover:where(:not([data-loading], :disabled)) {
		color: var(--button-color);

		background: var(--button-hover);

		&:where([data-variant='gradient-outline']) {
			color: white;
		}
	}
}

.inner {
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	transition: transform 150ms ease,
	opacity 100ms ease;
}

.label {
	overflow: hidden;
	display: flex;
	align-items: center;
	flex: 1;

	height: 100%;

	white-space: nowrap;

	opacity: 1;

	&:where([data-loading]) {
		opacity: 0.2;
	}
}

.section {
	--section-pointer-events: none;

	pointer-events: var(--section-pointer-events);

	display: flex;
	align-items: center;

	&:where([data-position='left']) {
		margin-inline-end: var(--spacing-xs);
	}

	&:where([data-position='right']) {
		margin-inline-start: var(--spacing-xs);
	}
}

.loader {
	position: absolute;
	top: calc(50% - var(--loader-size) / 2);
	left: calc(50% - var(--loader-size) / 2);
}

.group {
	--button-border-width: 1px;
	display: flex;

	& :where(.root) {
		&:focus {
			position: relative;
			z-index: 1;
		}
	}

	&[data-orientation='horizontal'] {
		flex-direction: row;

		& .root {
			&:not(:only-child):first-child {
				border-end-end-radius: 0;
				border-start-end-radius: 0;
				border-inline-end-width: calc(var(--button-border-width) / 2);
			}

			&:not(:only-child):last-child {
				border-end-start-radius: 0;
				border-start-start-radius: 0;
				border-inline-start-width: calc(var(--button-border-width) / 2);
			}

			&:not(:only-child):not(:first-child):not(:last-child) {
				border-radius: 0;
				border-inline-width: calc(var(--button-border-width) / 2);
			}
		}
	}

	&[data-orientation='vertical'] {
		flex-direction: column;

		& .root {
			&:not(:only-child):first-child {
				border-end-start-radius: 0;
				border-end-end-radius: 0;
				border-bottom-width: calc(var(--button-border-width) / 2);
			}

			&:not(:only-child):last-child {
				border-start-start-radius: 0;
				border-start-end-radius: 0;
				border-top-width: calc(var(--button-border-width) / 2);
			}

			&:not(:only-child):not(:first-child):not(:last-child) {
				border-radius: 0;
				border-bottom-width: calc(var(--button-border-width) / 2);
				border-top-width: calc(var(--button-border-width) / 2);
			}
		}
	}
}
